/* *{
   background-color: rgb(255, 254, 250); 
} */
.about h1{
    text-align: center;
    color: black;
    font-weight: bolder;
    
}
.about p{
    margin-right: 100px;
    margin-left: 100px;
    font-family: monospace;
    font-size: large;
}
.about{
    height: fit-content;
}
