/* styling the navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E6CCB2;
  padding: 10px;
  z-index: 1000;
  transition: transform 0.2s ease-in-out; /* Adding transition effect */
}

.nav-list {
  list-style-type: none;
  padding-right: 15px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 27px;
}

.nav-item a {
  text-decoration: none;
  color: #8b5f65;
}

.nav-item a:hover {

  color: #c7a9ac;
}


.scrolled { 
  transform: translateY(-100%); 
}

.footer {
  position: fixed;
  bottom: -60px; 
  left: 0;
  width: 100%;
  background-color: #E6CCB2;
  padding: 10px 0;
  text-align: center;
  transition: bottom 0.3s ease; 
 
}

.footer-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: #8b5f65;
  margin: 0 30px;
}

.footer a:hover {
  color: #c7a9ac;
}

/* styling the login page */



 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background */
}


/* Centering the form */
.form-container {
  width: 80%;
  max-width: 600px;
  padding: 50px;
  border-radius: 10px;
  background-color: #DDB892; /* You can adjust the color as needed */
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Adjusted width to account for padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightbrown; /* You can adjust the color as needed */
}

button[type="submit"] {
  width: calc(100% - 20px); /* Adjusted width to account for padding */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7F5539;
  color: #fff;
  cursor: pointer;
}






.visible {
  bottom: 0; /* Show the footer when visible */
}

