.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0;
    border-radius: 50px;
    
}
  
  .search-input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    border-bottom: 2px;
    background-color: rgba(245, 232, 220, 0.466);
    
    border: grey;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 20%;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    margin: 10px;
  }
  
  .form-input[type="submit"] {
    background-color: #272829;
    width: 20%;
    color: #ffffff91;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
  }
  